<% include ../layouts/head %>
<% include ../layouts/navbar %>

<div class="row center">
    <div class="col s12 m8 offset-m2">
        <h3 class="texto_bienvenida">Para utilizar esta aplicación, primero debe registrarse. Para ello, rellene el siguiente formulario con su correo y una contraseña</h3>
<%- form_tag("/users") %>
    <%- label_for("email") %>
    <%- email_field_tag("email") %><br />
    <%- label_for("password") %>
    <%- password_field_tag("password") %><br />
    <%- submit_tag({class: 'btn-large'}) %><br />
<%- form_end_tag() %>
</div>
</div>

<% include ../layouts/scripts %>