<% include ../layouts/head %>
<% include ../layouts/navbar %>

<div class="row center">
    <div class="col s12 m8 offset-m2">
        <h3 class="texto_bienvenida">Hola, <%= user.local.email %></h3>

<%- link_to('Actualizar canciones', '/songs/update', {Class: 'btn-large'}) %>
<br>
<br>
<h3>Tus datos: </h3>
<%  if(user == null){ %>
        <h5>Usted no ha iniciado sesión</h5>
  <% } else { %>
<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.local.email %><br>
<strong>password</strong>:<p class="truncate"><%= user.local.password %></p><br>
<h3>Cerrrar sesión</h3>
        <%- link_to('Cerrar sesión', '/logout', {Class: 'btn-large'}) %>
<% } %>
<br>

</div>
</div>
<br>

<% include ../layouts/scripts %>